html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

body {
    font-family: 'League Spartan', sans-serif;
}

.header-container {
    display: flex;
    padding-top: 104px;
    padding-left: 133px;
    padding-right: 133px;
    padding-bottom: 168px;
    background-color: #F8F8F8;
}

.header-title {
    margin-bottom: 53px;
    font-size: 24px;
    line-height: 45px;
    font-weight: 300;
}

.header-subtitle {
    margin-bottom: 43px;
    font-size: 250px;
    line-height: 230px;
    font-weight: 300;
    color: #272727;
}

.header-description {
    margin-bottom: 61px;
    font-size: 32px;
    line-height: 155%;
    font-weight: 300;
    width: 575px;
}

.buy-wrapper {
    display: flex;
}

.header-buy-link {
    display: block;
    width: 248px;
    height: 82px;
    font-size: 32px;
    line-height: 80px;
    background-color: #161515;
    color: #ffff;
    text-decoration: none;
    text-align: center;
}

.header-buy-price { 
    width: 248px;
    height: 82px;
    font-size: 32px;
    line-height: 80px;
    background-color: #ffff;
    color: #272727;
    text-decoration: none;
    text-align: center;
}

.header-img {
    display: block;
    width: 408px;
    margin-left: 102px;
    margin-top: -140px;
}

.main-title {
    text-align: center;
    margin-top: 43px;
    font-size: 24px;
    line-height: 50px;
    font-weight: 300;
}

.main-subtitle {
    text-align: center;
    margin-bottom: 84px;
    font-size: 72px;
    line-height: 81px;
    font-weight: 400;
}

.main-container-first {
    margin: 0 auto;
    margin-bottom: 85px;
}

.main-img-wrapper-first {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 67px;
    width: 417px;
    height: 630px;
    background-color: #F8F8F8;
}

.main-img-first {
    width: 286px;
    height: 410px;
}

.main-img-second {
    width: 500px;
    height: 500px;  
}

.watch-name-first {
    text-align: center;
    margin-bottom: 17px;
    font-size: 32px;
    line-height: 30px;
    font-weight: 400;
}

.main-description-first {
    text-align: center;
    margin: 0 auto;
    width: 531px;
    margin-bottom: 85px;
    font-size: 32px;
    line-height: 50px;
    font-weight: 300;
}

.main-description-second {
    text-align: center;
    margin: 0 auto;
    width: 510px;
    margin-bottom: 59px;
    font-size: 32px;
    line-height: 50px;
    font-weight: 300;
}

.product-description-wrapper {
    margin: 0 auto;
    margin-bottom: 85px;
    margin-top: 100px;
}

.product-description-title {
    text-align: center;
    margin-bottom: 9px;
    font-size: 32px;
    line-height: 60px;
    font-weight: 400;
}

.product-description {
    text-align: center;
    margin: auto;
    width: 515px;
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
}

.product-description-link {
    color: #BB8B5D;
    font-weight: 500;
}

.line {
    margin: auto;
    margin-bottom: 49px;
    width: 180px;
    border-bottom: 1px solid #707070;
}